<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="description" content="Small Business Sticker Shop Out of Long Island ">
        <meta name="author" content="Ava Daly">
        <link rel="icon" type="image/png" href="/assets/favicon.ico"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Lalezar&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/menu.css">
    <link rel="stylesheet" href="/assets/styles.css">
    <script src="/assets/menu.js" defer></script>
    </head>
