body{
    margin: 0;
    background-color: #F4DBF3;
    padding: 15px 15px;
    font-family: 'Lalezar', cursive;
    font-family: 'La Belle Aurore', cursive;
}

.footer{
    text-align: center;
}


#logo img{
    width: 150px;
    margin-top: 20%;

}

/* navigation styles */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
}


nav a{ 
    color: #FF7033;
    text-decoration: none;
    font-size: 30px;
    padding: 30px 30px;
    margin-top: 30px;
}

nav a:hover{
    text-decoration: underline;
}


#blushheader img{
    width: 2400px;
    height: auto;
    margin-top: -90px;
    max-width: 100%;
    max-height: 100%;

}

#productcollage img{
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin-top: 50px;
}


#product-images img{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-clip-margin: content-box;
    max-width: 550px;
    height: 440px;
    margin-left: auto;
    margin-right: auto;

}

h3{
    color: #E384DD;
     font-size: 30px;
     font-family: 'Lalezar', cursive;
     font-weight: 400;
     word-wrap: break-word;
     margin-top: -3%;
}

/* home*/

.tagline{
    color: #E384DD;
    font-size: 55px;
    font-weight: 400;
    line-height: 1.1;
    word-wrap: break-word;
    font-family: 'Lalezar', cursive;
    margin-top: 2%;
}

.square{
    width: 1400px;
    height: 950px;
    background: #E384DD;
    z-index: -10;
    position: absolute;
    top: 620px;
    border-radius: 25px;
    }

.row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 

}

.home main{
    margin: 200px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* about us*/

.about {
    margin-top: 100px;
}

.about h1{
    font-size: 100px;
    color: #FF7033;
    font-family: Lalezar;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
    
    
}

#hannahandava img{
    width: 900px;
    height: auto;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    top: 4px;
}

.aboutsquare{
    width: 1400px;
    height: 1400px;
    background: #E384DD;
    z-index: -10;
    position: absolute;
    top: 260px;
    border-radius: 25px;
    max-width: 100%;
}

.about h2{
    color: white;
    font-family: 'Lalezar', cursive;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    bottom: 200px;
    width: 1000px;
    margin: auto;
}

/* Products*/

.products {
    margin-top: 100px;
    
}

.products h1{
    font-size: 100px;
    color: #FF7033;
    font-family: Lalezar;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
}

#productimages img{
    display: flex;
    max-width: 100%;
    max-height: 100%;
    width: 600px;
    height: auto;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;

}

#productimages img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: .5s ease;
}

.products h2{
    text-align: center;
    color: #ffd3c1;
    font-size: 50px;
    font-family: Lalezar;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
}

.products h3{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: Lalezar;
    font-weight: 400;
    line-height: 30px;
    padding-top: 5px;
    word-wrap: break-word;
    width: 750px;
    margin: auto;
}

.products h4{
    color: black;
    font-size: 40px;
    font-family: Lalezar;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
    text-align: center;
}

.productsquare{
    width: 1400px;
    height: 3900px;
    background: #E384DD;
    z-index: -10;
    position: absolute;
    top: 260px;
    border-radius: 25px;
    max-width: 100%;  
}

/* Contact Us*/

.contact {
    margin-top: 100px; 
}

.contact h1{
    font-size: 100px;
    color: #FF7033;
    font-family: Lalezar;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
}

.contact h2{
    text-align: center;
    font-size: 40px;
    margin-top: -70px;
    color: #E384DD;


}

.contact h3{
    font-size: 30px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 80px;
    color: #E384DD;
}
