<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'About Us' %}
<body class="about">
    {% include 'header' %}
    <main>
        <h1>
            About Us
        </h1>
        <div id="hannahandava">
            <img alt="Hannah and Ava" src="https://i.postimg.cc/tRVx5pdz/meandhannahnew.png" />
        </div>
        <div class="aboutsquare"></div>
        <h2>
                 <p>Hi! Our names are Ava and Hannah and we are the owners of BlushLINY.</p>
                  We started our small business about 3 years ago during the start of the pandemic. We both love art and making fun designs and what better way to 
                  share this love of ours then to make stickers based off our work. The designs we sell are centered around our favorite pop culture 
                  moments. We hope you love our designs as much as we do! 
                
                <p>Contact us if there are any questions abut any of our products</p>
                
                <p>With love, Ava and Hannah</p>
        </h2>
    </main>
    {% include 'footer' %}
</body>
</html>
