<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'About Us' %}
<body class="about">
    {% include 'header' %}
    <main>
        <h1>
            About Us
        </h1>
        <div id="hannahandava">
            <img alt="Hannah and Ava" src="https://i.postimg.cc/JhSBFVkC/IMG-2049.jpg" />
        </div>
        <h2>
                 <p>Hi! Our names are Ava and Hannah and we are the owners of BlushLNY.</p>
                  We started our small business about 3 years ago during the start of the pandemic. We wanted wanted to do something to keep our minds busy as well 
                  as a way to make use of out new Critcut machine! We both love art and making fun designs and what better way to share our love with graphic design 
                  then to make stickers based off of our work. The designs we sell are centered around our favorite pop culture momnets. As big fangirls ourselves, 
                  any chnace to make something for our fandom is a chance we will take!
                
                <p>Contact us if there are any questions abut any of our products</p>
                
                <p>With love, Ava and Hannah</p>
        </h2>
    </main>
    {% include 'footer' %}
</body>
</html>
