<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Contact Us' %}
<body class="contact">
    {% include 'header' %}
    <main>
        <h1>
            Contact Us
        </h1>
        <h2>
            Follow us on social media and if you have any questions, contact us below! 
        </h2>
        <h3>
            <p><a href="https://www.instagram.com/blushliny/?hl=en/">Instagram: @BlushLINY</a></p>
            <a href="https://www.instagram.com/blushliny/?hl=en/">Facebook: @BlushLINY</a>
            <p><a href="https://www.etsy.com/shop/BlushLINY?ref=shop_sugg_market/">Our Etsy Shop</a></p>
            <p><a href="https://forms.gle/thk2zrAWvDhnZzec6/">Have a Question? Ask Us Here!</a></p>
            <p>Email: adaly2729@gmail.com</p>
        </h3>
           
    </main>
    {% include 'footer' %}
</body>
</html>
