<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'BlushLINY' %}
    <body class="home">
        {% include 'header' %}
        <main>
            <div id="blushheader">
                <img alt="BlushLINY Header" src="https://i.etsystatic.com/isbl/ad9e34/46359026/isbl_3360x840.46359026_ca6knbst.jpg?version=1" />
            </div>
            <h2 class="tagline">Small Business Sticker Shop Out of Long Island</h2>
            <h3>Designs Based on Your Favorite Pop Culture Moments!</h3>
            <div class="square"></div>
            <div id="productcollage">
                <img alt="Product Collage" src="https://i.postimg.cc/L5Zjx4XP/productcollage-01.jpg" />
            </div>
           
        </main>
        {% include 'footer' %}
    </body>
</html>
