<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'BlushLINY' %}
    <body class="home">
        {% include 'header' %}
        <main>
            <h1>BlushLINY</h1>
            <h2 class="tagline">Small Business Sticker Shop Out of Long Island</h2>
            <h3>Designs Based on Your Favorite Pop Culture Moments!</h3>
            <div class="square"></div>
            <div class="product-images">
                <img alt="It'll Pass Fox Sticker" src="https://i.etsystatic.com/26849453/r/il/60e897/3137337584/il_1588xN.3137337584_d0ey.jpg " />
                <img alt="Pleasing Sticker" src="https://i.etsystatic.com/26849453/r/il/ed0426/4082933985/il_1588xN.4082933985_hcg1.jpg" />
            </div>
            <h4>Hi! We are Ava and Hannah and we are the owners of BlushLINY. <p>We are a Long Island based brand that focuses on unique sticker 
                designs. We create our designs based on our favorite favorite shows, 
                artists, and pop culture moments.  We hope you love our stickers as much as we do! 
                Feel free to reach out if you have any questions.</p>
                With love, BlushLINY
            </h4>
        </main>
        {% include 'footer' %}
    </body>
</html>
