<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Products' %}
<body class="products">
    {% include 'header' %}
    <main>
        <h1>
            Products
        </h1>
        <div id="productimages">
            <img alt="It'll Pass Fox Sticker" src="https://i.etsystatic.com/26849453/r/il/60e897/3137337584/il_1588xN.3137337584_d0ey.jpg"/>
            <h2>It'll Pass Fox Fleabag Inspired Sticker</h2>
            <h3> Fleabag-inspired sticker vinyl glossy is great for laptops, phone cases, and water bottles! <p>Decal is 3in on the longest side</p></h3>
            <h4>$4.50</h4>
            <img alt="Boygenius Sticker" src="https://i.etsystatic.com/26849453/r/il/ab0657/5436982204/il_1588xN.5436982204_925q.jpg" />
            <h2>Boygenius the record Inspired Glitter Mini Vinyl Sticker</h2>
            <h3>Mini glitter vinyl decal inspired by Boygenius’ the Record! Perfect for water bottles, phone cases, laptop cases, headphones, and anywhere you need to fill up some space! <p>Decal is 2” on the longest side. Please note that this is a mini sticker.</p></h3>
            <h4>$2.60</h4>
            <img alt="Holographic Pleasing Sticker" src="https://i.etsystatic.com/26849453/r/il/ed0426/4082933985/il_1588xN.4082933985_hcg1.jpg" /> 
            <h2>Pleasing Inspired Holographic Vinyl Sticker</h2>
            <h3> Holographic vinyl decal inspired by the Pleasing brand. Great for water bottles, laptop cases, and phone cases.<p>Decal is 3in on the longest side</p></h3>
            <h4>$4.25</h4>
            <img alt="Harry's House Coffee Mug Sticker" src="https://i.etsystatic.com/26849453/r/il/d1873c/4082980943/il_1588xN.4082980943_58dj.jpg" />
            <h2>Harry's House Coffee Inspired Vinyl Sticker</h2>
            <h3>Moka pot, Monday, it's all good, hey you....Vinyl decal inspired by Harry's House!<p>Decal is 3in on the longest side</p></h3>
            <h4>$4.50</h4>
        </div>
    </main>
    {% include 'footer' %}
</body>
</html>
